
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
      <h3>Welcome @Session["FirstName"] @Session["LastName"]!</h3>
             <h4> your Age is @Session["age"]</h4>
       
    </div>
</body>
</html>
